@model ProyectoProgra2.Models.USUARIOS

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>USUARIOS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.USUARIO)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.USUARIO)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CONTRASENA)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CONTRASENA)
        </dd>

    </dl>
</div>
<p>
   @Html.ActionLink("Editar", "Edit", new { id = Model.USUARIO }) |
    @Html.ActionLink("Regresar", "Index")
</p>
