@model ProyectoProgra2.Models.USUARIOS

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>USUARIOS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.USUARIO)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.USUARIO)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CONTRASENA)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CONTRASENA)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.USUARIO }) |
    @Html.ActionLink("Back to List", "Index")
</p>
