@model ProyectoProgra2.Models.COLA_ESTUDIANTES

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>COLA_ESTUDIANTES</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PROCESADO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PROCESADO)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FECHA_ADICION)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FECHA_ADICION)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ESTUDIANTES.CARNET)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESTUDIANTES.CARNET)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ESTUDIANTES.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESTUDIANTES.NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ESTUDIANTES.FECHA_REGISTRO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESTUDIANTES.FECHA_REGISTRO)
        </dd>

    </dl>
</div>
<p>
   @* @Html.ActionLink("Edit", "Edit",  new { CARNET = Model.ESTUDIANTES.CARNET, FECHA_ADICION = Model.FECHA_ADICION.ToString("dd/MM/yyyy") }) |*@
    @Html.ActionLink("Regresar", "Index")
</p>
