@model ProyectoProgra2.Models.COLA_ESTUDIANTES

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>COLA_ESTUDIANTES</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PROCESADO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PROCESADO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ESTUDIANTES.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESTUDIANTES.NOMBRE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
